%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
%bg-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
%pos-absolute {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}